<main class='p-4 row'>

  {{> shopheader}}

  {{! newsBlock }}
  {{#with newsBlock}}
    <section class='my-5'>
      <h2 class='text-center mb-5'>{{title}}</h2>

      <div class='col-12'>
        <div class='row g-4'>
          {{#each cards}}
            <div class='col-3'>
              <div class='card'>
                <div class='card-header'>
                  <div class='mb-2'>{{title}}</div>
                  {{#if isNew}}
                    <span
                      class='badge text-bg-success'
                    >New</span>
                  {{/if}}
                  {{#if isTop}}
                    <span
                      class='badge text-bg-danger'
                    >Top</span>
                  {{/if}}
                </div>
                <div class='card-body'>
                  <p>{{description}}</p>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
  {{/with}}
  {{! /newsBlock }}

  <hr class='my-5' />

  {{! goodsBlock }}
  {{#with goodsBlock}}
    <section class='col-12'>
      <nav class='nav nav-tabs mb-4'>
        {{#each tabs}}
          <div class='nav-item'>
            <a class='nav-link
                    {{#if isActive}} active {{/if}}
                    {{#if isDisabled}} disabled {{/if}}'>{{text}}

            </a>
          </div>
        {{/each}}
      </nav>
      <div class="row g-3">
        {{#each cards}}
        <div class="col-4">
            {{> shopcard}}
        </div>
        {{/each}}
      </div>
    </section>
  {{/with}}
  {{! /goodsBlock }}

  <hr class="my-5">

  {{!-- subscribe --}}
  {{#with subscribe}}
  <section class="col-12 card card-body text-bg-dark">
    <h2 class="mb-4">{{header}}</h2>
    <p>{{description}}</p>
    {{#each buttons}}
    <div>
        <a class="btn btn-primary mb-2" href="{{link}}">{{text}}</a>
        </div>
    {{/each}}
  </section>
  {{/with}}
  {{!-- /subscribe --}}

  <hr class="my-5">

  {{!-- service --}}
  {{> shopaction}}
  {{!-- /service --}}

  <hr class="my-5">

  {{!-- footer --}}
  {{!-- {{#with footer}} --}}
  {{> shopfooter}}
  {{!-- {{/with}} --}}
  {{!-- /footer --}}
</main>