<div class="row">
    <div class="col-4">
        <div>{{number}}</div>
        <div>{{status}}</div>
    </div>

    <div class="col-2">
        <div>{{amount.title}}</div>
        <div>{{amount.value}}</div>
    </div>

    <div class="col-4">
        {{#each images}}
        <img class="mx-1" src="{{this}}">
        {{/each}}
    </div>

    <div class="col-2">
        <button href="{{button.link}}"
        class="btn 
        {{#if button.isPrimary}} btn-primary{{/if}}">{{button.text}}</button>
    </div>
</div>